bin/
dist/
/src/*/src/**/images32/
/src/*/src/**/images64/
/src/*/src/**/images128/
/src/swing/src/rabbitescape/ui/swing/sounds/*.wav
/src/swing/src/rabbitescape/ui/swing/music/*.wav
.idea/workspace.xml
ls.txt
levels.txt
doc/doxygen
recordings/
.directory
/.ropeproject/
/.recommenders/
/.metadata/

# Android
/android/app/libs/rabbit-escape-generic.jar
/android/app/src/main/assets/images*
/android/app/src/main/res/drawable-mdpi/*.png
/android/app/src/main/res/drawable-hdpi/*.png
/android/app/src/main/res/drawable-xhdpi/*.png
/android/app/src/main/res/drawable-xxhdpi/*.png
/android/app/src/main/res/drawable-xxxhdpi/*.png
/android/.idea
/android/android.iml
/android/app/app.iml
*.apk
*.ap_
*.dex
bin/
gen/
.gradle/
/build/
local.properties
proguard/
*.log


