html
{
    padding: 0px;
    margin: 0px;
}

body
{
    font-family: Ubuntu, Verdana, Arial, sans-serif;
    font-size: 1.8em;
    font-weight: 200;
    background-color: white;
    color: rgb( 89, 89, 86 );
    padding: 0px;
    margin: 0px;
    text-align: left;
}

a
{
    color: inherit;
}

.stripe
{
    width: 100%;
    margin: 0px;
    padding: 3em 0em;
}

.text
{
    max-width: 30em;
    margin: auto;
}

.disabledcontainer
{
    display: inline-block;
    position: relative;
}

.disabled
{
    font-size: 120%;
    font-weight: bold;
    text-shadow: 0em 0em 0.1em white;
    top: 0;
    left: 0;
    position: absolute;
    z-index: 10;
    padding-top: 20%;
    padding-left: 5%;
    padding-right: 5%;
    width: 90%;
    height: 80%;
    background-color: rgba( 180, 180, 180, 0.8 );
    box-shadow:
         0.1em  0.0em 0.1em rgba( 180, 180, 180, 0.5 ),
        -0.1em  0.0em 0.1em rgba( 180, 180, 180, 0.5 ),
         0.0em  0.1em 0.1em rgba( 180, 180, 180, 0.5 ),
         0.0em -0.1em 0.1em rgba( 180, 180, 180, 0.5 );
}

.disabled.buy
{
    padding-top: 5%;
    height: 95%;
}

/* --- */

#title
{
    background-color: rgb( 12, 94, 116 );
    color: rgb( 240, 230, 250 );
}

h1
{
    font-weight: 200;
    font-size: 2.2em;
    margin-top: 0em;
    margin-left: -0.25em;
    margin-bottom: 0.5em;
    padding-left: 0em;
}

h2
{
    font-weight: 400;
    font-size: 100%;
}


.subbox
{
    margin: auto;
    width: 80%;
    text-align: left;
}

.downloadbutton
{
    display: block;
    width: 30%;
    margin-bottom: 1em;
    border-radius: 0.4em;
    color: rgb( 5, 10, 15 );
    padding: 0.6em 2em;
    text-decoration: none;
    text-align: center;
    background-color: rgb( 242, 93, 27 );
    font-size: 90%;
}

.downloadbutton.downloadbuttonmain
{
    margin-top: 3em;
    width: 20%;
}

.downloadbutton:hover
{
    background-color: rgb( 218, 84, 24 );
}

/* --- */

#explanation
{
}

#demo
{
    margin-top: 2em;
    margin-bottom: 2em;
    margin-left: 0px;
    margin-right: 0px;
}

/* --- */

#moreinfo
{
    background-color: rgb( 125, 179, 81 );
    color: rgb( 240, 230, 250 );
}

#infotable
{
    border: 0px;
    padding: 0px;
}

#infotable tr td
{
    padding: 0.9em 0.3em;
}

#createlink
{
    text-decoration: underline;
}

#createlink:hover
{
    color: white;
}

/* --- */

.download
{
    opacity: 0.8;
    display: inline-block;
    min-width: 130px;
    margin: 0px 20px;
    padding: 5px;
}

.download.buy
{
    height: 80px;
}

.download:hover
{
    opacity: 1.0;
}

.download a
{
    text-decoration: none;
}

.logo
{
    margin-right: 3px;
}

/* --- */

#links
{
    background-color: rgb( 12, 94, 116 );
    color: rgb( 240, 230, 250 );
}

.link
{
    opacity: 0.9;
    min-width: 8em;
}

#freesoftware
{
    margin-bottom: 2.5em;
}

/* --- */

#contact
{
    font-size: 80%;
}

#copyright
{
    background-color: rgb( 240, 255, 138 );
    color: ;
    font-size: 70%;
    padding: 1em 0em;
}

.wide
{
    max-width: 50em;
}

#uparrow
{
    position: fixed;
    top: 1em;
    right: 1em;
    opacity: 0.9;
}

#downarrow
{
    position: fixed;
    bottom: 1em;
    right: 1em;
    opacity: 0.9;
}

.package
{
    font-weight: 500;
}

.cmdline
{
    background-color: rgb( 12, 94, 116 );
    color: rgb( 125, 179, 81 );
    font-family: Ubuntu Mono, monospace;
    margin: auto;
    padding: 0.4em 0.6em;
    width: inherit;
    display: inline-block;
}

.backlink
{
    font-size: 70%;
    margin: 0px;
    padding: 0px;
    text-align: right;
}

pre
{
    text-align: left;
    color: rgb( 89, 89, 86 );
    padding: 0.3em;
    background-color: white;
    border: 0.3em solid rgb( 89, 89, 86 );
    border-radius: 0.4em;
}


