html, body, div, button
{
    margin: 0px;
    padding: 0px;
    font-size: 1em;
}

#toolbar
{
    position: fixed;
    top: 0px;
    left: 0px;
    z-index: 1;
    background-color: #eeeeff;
    padding: 2px;
    border-color: 1px solid black;
}

.button
{
    display: inline-block;
    overflow: hidden;
}

.buttonimg
{
}

#level
{
    margin: 2px;
    position: relative;
    background-color: #eeeeee;
}

.levelsquare
{
    position: absolute;
    border: 0px;
    background-color: inherit;
}

.levelimg
{
    position: absolute;
}
